.rank {
    color: #fff;
    margin-top: 150px;
    margin-bottom: 50px;
}

.rank .intro {
    font-size: 1.5rem;
}

.rank .title {
    font-size: 3rem;
}

@media screen and (max-width: 800px) {
    .rank {
        margin-top: 200px;
    }
}
