.logo {
    position: absolute;
    top: 30px;
}

.tilt {
    height: 100px;
    width: 100px;
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
    padding: 25px;
    border-radius: 0.25rem;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.tilt img {
    height: 100px;
}
