.logo {
    margin: 2rem;
    margin-top: 0;
}

.tilt {
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.tilt img {
    padding: 10px;
    height: 75%;
}
