.image-link-form p {
    font-size: 1.5rem;
}

.image-link-form-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form {
    width: 700px;
    background-color: #fb1;
    font-size: 1.25rem;
    background-size: 40px 60px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-input {
    padding: 0.5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-family: inherit;
}

.form-button {
    color: #fff;
    font-size: 1.25rem;
    font-family: inherit;
    background-color: #ff5edf;
    width: 30%;
    padding: 7px 15px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in;
}

.form-button:hover {
    background-color: #04c8de;
}

@media screen and (max-width: 800px) {
    .image-link-form p {
        font-size: 1.25rem;
    }
}
