* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px 20px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

button {
    cursor: pointer;
}
